<div class="banner" style="background-image: url('background-image: url('https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?w=1200')">
</div>
<div class="show-flat-card">
test
</div>
<div class="show-flat-card">
</div>
<div class="show-flat-card">
</div>
<div class="show-flat-card">
</div>
<div class="show-flat-card">
</div>